@import "variables.less";
@import "modulos/import.less";
@import "componentes/import.less";

html{
	height: 100%;

	body{
		font-family: 'Open Sans', sans-serif;
	}
	
	[panel], [vista]{
		display: none;
		background: @background-color;
		position: absolute;
		top: 0px;
		padding-top: 60px;
		left: 0px;
	}
	
	[panel]{
		width: 100%;
		overflow-x: hidden;
		height: 100%;
	}
	
	[vista]{
		height: -10%;
		height: 95%;
		overflow-y: scroll;
		width: 100%;
		
		.cinta{
			position: fixed;
			top: 25px;
			z-index: 1030;
			color: white;
			font-size: 18px;
			width: 86%;
			right: 7%;
			
			> div{
				color: white;
				background: @bootstrap-success;
				border: 2px solid @bootstrap-success;
				border-radius: 10px;
				padding: 10px;
				text-align: center;
				text-transform: capitalize;
			}
		}
	}
	
	footer{
		&.navbar{
			z-index: 0;
			margin-top: 10px;
			margin-bottom: 0px;
		}
	}
}