@colorFondo: #edf8fe;
@colorCabezas: #0d61ae;
@colorFuente: #0d61ae;
@colorFooter: #cde4f0;

@background-color: #edf8fe;

@inputBorderColor: #F2F2F2;

@navBlue: #0d61ae;
@blue2: #c0dbee;


@panelNoticia-texto-color: #3a3a3a;


@bootstrap-danger: #d9534f;
@bootstrap-warning: #F89406;
@bootstrap-primary: #0044CC;
@bootstrap-info: #0088CC;
@bootstrap-success: #51A351;


@noticias-background: #cde8f9;