@nav-c1: #152b8e;
@nav-c2: #0c9bc2;

@noticiaBg: #818084;
@noticia-c1: #9e9e9e; 
@noticia-c2: #c8c7c7; 

@inputBorderColor: #F2F2F2;

@mq-xs-max: 767px;
@mq-sm-min: (@mq-xs-max+1px);
@mq-sm-max: 991px;
@mq-md-min: (@mq-sm-max+1px);
@mq-md-max: 1199px;
@mq-lg-min: (@mq-md-max+1px);


@fondo-merz: "../img/bg_home.png";

@bg-contenidoDepartamento: #eaebf0;
@colorFondo: @bg-contenidoDepartamento;
@borderContenidoDepartamento: #bdccd4;

@nav-pie-c1: #354a9e;
@nav-pie-c2: #2bc9d9;

@navBlue: #0d61ae;
@blue2: #c0dbee;

.fontRoboto{
	font-family: 'Roboto', sans-serif;
}