[panel=departamento]{
	height: 100%;
	background: #efeff4;
	@altoImagen: 260px;
	
	.logoDepartamento{
		width: 90px;
		position: fixed;
		top: 30px;
		left: 120px;
		
		@media (max-width: @mq-xs-max){
			left: 40px;
			top: 60px;
			width: 50px;
		}
	}
	
	.portada{
		background: url(@fondo-merz);
		margin-top: 100px;
		height: 350px;
		background-color: black;
		background-position: center center;
		background-size: cover;
		position: relative;
		@media (max-width: @mq-xs-max){
			background-position: center bottom;
			height: 230px;
		}
		
		.banda{
			height: 80px;
			line-height: 80px;
			background: url("../img/fondoTextoNoticia.png");
			width: 100%;
			bottom: 0px;
			color: white;
			position: absolute;
			padding: 5px;
			text-align: center;
			//font-size: 18px;
			overflow-y: scroll;
		}
	}
	
	.contenidoDepartamento{
		position: absolute;
		padding: 15px 15px 15px 15px;
		padding-bottom: 60px;
		width: 100%;
		font-family: arial;
		
		.row{
			margin-right: 0px;
			margin-left: 0px;
		}
		
		h2{
			font-size: 20px;
			text-transform: uppercase;
			text-align: center;
		}
		
		#btnShowCalendario{
			margin-top: 40px;
		}
		
		.contEnmarcado-body{
			color: #6595A6; 
			
			&.gris{
				background: @inputBorderColor;
			}
		}
		
		.noticias, .archivos, .eventos, form[campo=formulario]{
			margin-top: -60px;
		}
		
		.noticiasFijas, .noticias{
			margin-top: -40px;
			.noticiaFija, .noticia{
				img{
					width: 100%;
					height: 140px;
					
					@media (min-width: @mq-md-min){
						height: 220px;
					}
				}
				
				.registrada{
					color: #DF0174;
					font-weight: bold;
				}
				
				[campo=titulo]{
					color: #424242;
				}
				
				[campo=resumen]{
					color: #A4A4A4;
				}
			}
		}
		
		.archivo{
			//border-bottom: @borderContenidoDepartamento 2px solid;
			padding-bottom: 15px;
			padding-left: 30px;
			
			h3{
				font-size: 16px;
				font-weight: normal;
				margin-bottom: 0px;
			}
			
			[campo="registro"]{
				font-size: 10px;
				color: black;
			}
		}
		
		.evento{
			//border-bottom: @borderContenidoDepartamento 2px solid;
			padding-bottom: 15px;
			padding-left: 30px;
			
			h3{
				font-size: 16px;
				font-weight: normal;
				margin-bottom: 0px;
			}
			
			[campo="lugar"], [campo="fecha"]{
				font-size: 10px;
			}
		}
		
		#calendario{
			margin-top: -50px;
		}
	}
}