[modulo=home]{
	height: 100%;
	[panel=home]{
		height: 100%;
		background-image: url(@fondo-merz);
		background-color: black;
		overflow: auto;
		
		.logoMerz{
			width: 90px;
			position: fixed;
			top: 30px;
			left: 80px;
			
			@media (max-width: @mq-xs-max){
				left: 20px;
				top: 40px;
				width: 70px;
			}
		}
		
		.bandNoticia{
			position: fixed;
			top: 140px;
			z-index: 3;
			.degradado(@nav-c1, @nav-c2);
			padding: 5px 20px 5px 20px;
			text-transform: uppercase;
			font-size: 18px;
			color: white;
		}
		
		#ultimasNoticias{
			@alto: 150px;
			position: fixed;
			top: 140px;
			z-index: 2;
			width: 100%;
			background-color: #9e9e9e;
			
			.item{
				height: @alto;
				background-image: url("../img/noticiaCarousel.png");
				background-repeat: no-repeat;
				background-position: right center;
				background-size: cover;
				background-color: #9e9e9e;
				
				color: white;
			
				@media (max-width: @mq-xs-max){
					background-position: right bottom;
				}
				
				[campo=titulo]{
					@altoT: @alto*0.6;
					background-image: url(@noticiaBgCorousel);
					min-height: @altoT;
					max-width: 70%;
					min-width: 150px;
					padding: 15px 5px 15px 35px;
					font-size: 18px;
					position: absolute;
					top: @altoT/2;
					
					@media (max-width: @mq-xs-max){
						max-width: 50%;
						font-size: 14px;
						opacity: 0.8;
						right: 0px;
						top: @altoT/8;
						background-image: url("../img/fondoTextoNoticia.png");
						background-color: none;
						padding: 15px 5px 15px 15px;
					}
				}
			}
		}
		
		.departamentos{
			position: absolute;
			width: 100%;
			top: 300px;
			background-image: url(@fondo-merz);
			background-color: black;
			padding-bottom: 60px;
			
			@media (max-width: @mq-xs-max){
				padding-bottom: 50px;
			}
			
			.departamento{
				@alto: 70px;
				height: @alto;
				line-height: @alto;
				margin-bottom: 15px;
				width: 45%;
				margin-left: 2.5%;
				margin-right: 2.5%;
				float: left;
				background-repeat: no-repeat;
				background-position: right center;
				position: relative;
				overflow:hidden;
				box-shadow: 0px 0px 5px 0px #ff8d61;
				text-align: center;
				
				@media (max-width: @mq-xs-max){
					border-radius: 15px;
					min-height: 140px;
					margin-bottom: 10px;
					padding-top: 10px;
					line-height: inherit;
				}
				
				border-radius: 15px;
				
				[campo=nombre]{
					width: 50%;
					//margin-left: 25%;
					font-size: 18px;
					text-transform: uppercase;
					letter-spacing: 5px;
					color: white;
					text-align: center;
					//line-height: 70px;
					vertical-align: middle;
					display: inline-block;
					line-height: normal;
					
					@media (max-width: @mq-xs-max){
						line-height: inherit;
						position: absolute;
						bottom: 10px;
						width: 90%;
						left: 5%;
						font-size: 14px;
						line-height: inherit;
					}
				}
				
				.icono{
					width: @alto*.95;
					height: @alto*.95;
					line-height: 70px;
					margin-left: 10px;
					//margin-top: 10px;
					position: absolute;
					right: 5px;
					
					@media (max-width: @mq-xs-max){
						width: 60px;
						height: 60px;
						position: inherit;
					}
				}
				
				.icono2{
					opacity: 0.1;
					width: 100px;
					margin-top: 0px;
					margin-left: 10px;
					position: absolute;
					//right: 10px;
					
					@media (max-width: @mq-xs-max){
						position: absolute;
						left: 0px;
						margin-left: -70px;
						width: 150px;
					}
				}
			}
		}
	}
}