[panel=perfil]{
	height: 100%;
	background: #efeff4;
	@altoImagen: 260px;
	
	.imagenPerfil{
		@alto: @altoImagen;
		
		margin-top: 120px;
		height: @alto;
		position: absolute;
		
		@media (max-width: @mq-xs-max){
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;
		}
		
		@media (min-width: @mq-sm-min){
			padding-top: 50px;
		}
		
		img{
			width: 100%;
			height: @alto;
			
			@media (min-width: @mq-sm-min){
				width: 150px;
				height: 150px;
				border-radius: 75px;
				float: left;
			}
		}
		
		#btnCamara, #btnGaleria{
			position: absolute;
			left: 35px;
			bottom: 20px;
		}
		
		#btnGaleria{
			left: 100px;
		}
		
		i.fa-pencil{
			right: 20px;
			top: 10px;
			position: absolute;
			z-index: 1;
			color: #cfced1;
			opacity: 0.5;
			
			@media (min-width: @mq-sm-min){
				top: 70px;
			}
		}
		
		.cinta{
			background: url("../img/bgContacto.png");
			height: 100px;
			width: 100%;
			position: absolute;
			bottom: 0px;
			text-align: center;
			color: white;
			.fontRoboto;
			@media (min-width: @mq-sm-min){
				position: relative;
				//top: 30px;
				width: 65%;
				float: left;
				background:none;
				color: #746062;
			}
			
			h3{
				font-size: 24px;
				margin-top: 0px;
			}
			
			[campo=puesto]{
				font-size: 16px;
			}
			
			.datosAdicionales{
				font-size: 10px;
				width: 100%;
				text-align: left;
				margin-left: 0px;
				
				li{
					width: 100%;
					float: left;
					list-style: none;
					font-size: 14px;
					
					@media (max-width: @mq-xs-max){
						b{
							display: none;
						}
					}
				}
			}
		}
	}
	
	.contenidoPerfil{
		margin-top: (140px+@altoImagen);
		position: absolute;
		padding-bottom: 60px;
		
		@media (max-width: @mq-xs-max){
			width: 100%;
			margin-top: (180px+@altoImagen);
		}
		
		.menu{
			//margin-top: 40px;
			list-style-type: none;
			//margin-bottom: 100px;
			li{
				margin-bottom: 35px;
				.icono{
					width: 25px;
					margin-right: 30px;
				}
			}
		}
	}
}